.ipynb_checkpoints/
Data_Store/
Prepared_Data_Store/
BackTesting/.ipynb_checkpoints/
Regularization_Models/Ridge_Regression/.ipynb_checkpoints/
BackTesting/Regularization_Models_Backtesting/Ridge_Models_Backtesting/.ipynb_checkpoints/
